*~
\#*
.#*
*.o
*.a
*.exe
*.dll
*.obj
*.pdb
*.lib
*.exp
*.log
*.bz2
*.zip
.gdb_history
a.out
ctec_g
ctec
*-ctec
libctec*.def

config*.h
config*.mak
config.texi
conftest*
tags
TAGS
ctec.1
ctec.pod
ctec-doc.html
ctec-doc.info

win32/doc
win32/libctec
win32/lib/32
win32/lib/64
win32/include/float.h
win32/include/stdarg.h
win32/include/stdbool.h
win32/include/stddef.h
win32/include/varargs.h
win32/include/cteclib.h

tests/ctectest[1234]
tests/ctectest.gcc
tests/*.out*
tests/*.ref
tests/*.txt
tests/*.gcc
tests/*-cc*
tests/*-ctec*
tests/libctec_test
tests/asm-c-connect
tests/asm-c-connect-sep
tests/vla_test
tests/hello
tests/tests2/fred.txt
